In [ ]:
def square(n):
  return n**2

square(2)

4

In [ ]:
def name(n, x):
    return n * x

name(3, "pone_nyet")

'pone_nyetpone_nyetpone_nyet'

In [ ]:
value_square = lambda value: value**2
value_square(3)

9

In [ ]:
name = lambda a, b: a * b
result = name(6, "jelly")
print(result)

jellyjellyjellyjellyjellyjelly

In [ ]:
age = lambda year: 2023-year
age(1983)

40

In [ ]:
age = lambda b_year, c_year: c_year - b_year
print(age(2004,2023))

19

In [ ]:
year_list = [1998, 1993, 2000, 2001, 1999, 2023, 1996]
age = lambda year: 2023 - list(map(year_list))
print(age)

<function <lambda> at 0x799def4179a0>

In [ ]:
year_list = [1998, 1993, 2000, 2001, 1999, 2023, 1996]

c_year = 2023

age_list = list(map(lambda year: c_year - year, year_list))

print(age_list)

[25, 30, 23, 22, 24, 0, 27]

In [ ]:
lam_condition = lambda cond: "you_are_too_young" if len(year_list)<2000 else "you_are_too_old"
years_map_cond = [*map(lam_condition, year_list)]
years_map_cond

['you_are_too_old',
 'you_are_too_old',
 'you_are_too_old',
 'you_are_too_old',
 'you_are_too_old',
 'you_are_too_old',
 'you_are_too_old']

In [ ]:
year_list = [1998, 1993, 2000, 2001, 1999, 2023, 1996]

lam_condition = lambda age: ("too yound" if age > 2000 else "too old")
ans_condition = [*map(lam_condition, year_list)]
print(ans_condition)

In [ ]:
calculate_price = lambda cost: cost + (0.10 * cost)

cost = 100.0
price = calculate_price(cost)
print(price)